<!DOCTYPE html>
<html>
<head>
    <title>New Post</title>
</head>

<body>
{% include "top.html" %}

<form name="form1" method="post" enctype="multipart/form-data" action="">

<p><a href='/'>back<a></p>

<H2>Create Post</H2>

<table>
<tr>
    <td>Title</td>
    <td><input name="title" type="text" size="75"</td>
</tr>

<tr>
    <td>Caption</td>
    <td><input name="caption" type="text" size="50"</td>
</tr>

<tr>
    <td>Image</td>
    <td><input type="file" name="file"></td>
</tr>

<tr>
    <td><input type="submit" name="Submit" value="submit"></td>
<tr>

</table>

</form>

</body>
</html>