<!DOCTYPE html>
<html>
<head>
    <title>delete {{p.title}}</title>
</head>

<body>

{% include 'top.html' %}

<p><a href="/post/{{p.post_id}}">Back<a></p>

<form name="form1" method="post" action="">

<caption>Are you sure you want to delete {{p.title}} (post_id#{{p.post_id}})?</caption align="top">

<table>

<tr>
    <td><input type="submit" name="submit" value="NO"></td>
    <td><input type="submit" name="submit" value="YES"></td>
<tr>

</table>

</form>

</body>
</html>