<!DOCTYPE html>
<html>
<head>
    <title>Edit {{p.title}}</title>
</head>

<body>

{% include 'top.html' %}

<p><a href="/post/{{p.post_id}}">Back<a></p>

<form name="form1" method="post" enctype="multipart/form-data" action="">

<H2>Edit {{p.title}} (post id# {{p.post_id}})</H2>

<table>
<tr>
    <td>Title</td>
    <td><input name="title" type="text" size="75" value="{{p.title}}"</td>
</tr>

<tr>
    <td>Caption</td>
    <td><input name="caption" type="text" value="{{p.caption}}" size="50"</td>
</tr>

<tr>
    <td>Image</td>
    <td><input type="file" name="file"></td>
</tr>

<tr>
    <td><input type="submit" name="Submit" value="submit"></td>
<tr>

</table>

</form>

</body>
</html>