<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>

<body>

{% include "top.html" %}

{% if not user %}
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
{% else %}

<h1>Welcome {{user.name}}!</h1>

<p><a href="/create">Create Post</a></p>
<p><a href="/user/{{user.username}}"</a>My Profile</p>
<p><a href="/settings/">Account Settings</a></p>

{% if ( p | length ) == 0 %}
    <p>There are no posts in your feed. You can <a href='/user'>view users</a> and start following people to get updates in your feed.</p>
{% else %}
<table>
    <tr>
        <th><h2>Title</h2></th>
        <th><h2>Date</h2></th>
    </tr>
    
    {% for i in p %}
    <tr>
        <td><h2><a href="/post/{{i.post_id}}">{{i.title}}</a>&nbsp</h2></td>
        <td>{{i.timestamp[:10]}}</td>
    </tr>
    {% endfor %} 
</table>    

{% endif %}

{% endif %}

</body>
</html>
