<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

{% include 'top.html' %}

{% if user==None %}
    <p>Invalid credentials! Please <a href='/login'>Login</a> or <a href='/register'>Register</a> to continue!</p>
{% elif user==False %}
    <p>The username and password don't match! Please <a href='/login'>Re-login</a> or <a href='/register'>Register</a> to continue.<p>
<body>
{% else %}
    <p>Something went wrong! <a href='/'>Go home</a><p>
{% endif %}