<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

</head>

<body>

{% include "top.html" %}

{% if not_found %}
    <p>Username does not exist! Are you trying to <a href='/register'>register?</a></p>
{% endif %}

{% if wrong_password %}
    <p>Incorrect password! Please try again</p>
{% endif %}

<form name="form1" method="post" action="">

<H2>Login Form</H2>

<table>

<tr>
    <td>Username</td>
    <td><input name="username" type="text" size="50"</td>
</tr>

<tr>
    <td>Password</td>
    <td><input name="password" type="password" id="password" size="10"</td>
</tr>

<tr>
    <td><input type="submit" name="Submit" value="submit"></td>
<tr>

</table>

</form>

</body>
</html>