<!DOCTYPE html>
<html>
<head>
    <title>{{p.title}} | {{p.username}}</title>
</head>

<body>

{% include 'top.html' %}

<p><a href="/post/">All Posts</a></p>

<H1>{{p.title}}</H1>

<h2>{{p.caption}}</h2>

<img src="/static/images/{{p.image}}" height="400"> 


<p>post id#{{p.post_id}} created by <a href='/user/{{p.username}}'>{{author.name}}</a> on {{p.timestamp[:10]}} at {{p.timestamp[11:19]}} </p>

<p>No. of likes: {{p.likes}}</p>

{% if user %}
    <form action="" method="Post">
    {% if liking %}
    <form action="" method="Post">
        <input type="submit" name="unlike" value="Unlike">
    {% else %}
        <input type="submit" name="like" value="Like">
    {% endif %}
    </form>

    {% if user.username==author.username %}
        <p><a href='edit'>Edit</a></p>
        <p><a href='delete'>Delete</a></p>
    {% endif %}

{% endif %}

<h3><u>Comments: {{p.comments}} </u></h3>

<table>
{% for i in c %}
    <tr>
        <td><p>{{i.text}}<p></td>
    </tr>
    <tr>
        <td>--posted by <a href='/user/{{i.username}}'>{{i.username}}<a> on {{i.timestamp}}</td>
        {% if i.username == user.username %}
            <form name="delete comment" method="post" action="">
            <input type="hidden" name=comment_id value={{i.comment_id}}>
            <td><input type="submit" name="submit" value="Delete Comment"></td>
            </form>
        {% endif %}
    </tr>
    <tr>
        <td></td>
    </tr>


{% endfor %}
</table>

{% if user %}
    {% if p.comments==0 %}
        <p>Be the first to comment!</p>
    {% endif %}
    <form name="comment" method="post" action="">
    <table>
    <tr>
        <td><input name="comment" type="text" placeholder="Comment as {{user.username}}" size=50></td>
    </tr>
    <tr>
        <td><input type="submit" name="submit" value="Add Comment"></td>
    </table>
    </form>
{% endif %}
</body>
</html>
