<!DOCTYPE html>
<html>
<head>
    <title>All Posts</title>
</head>

<body>

{% include 'top.html' %}

<table>
    <tr>
        <th><h2>Title</h2></th>
        <th><h2>Author</h2></th>
        <th><h2>Date</h2></th>
    </tr>
    
    {% for i in p %}
    <tr>
        <td><h2><a href="/post/{{i.post_id}}">{{i.title}}</a>&nbsp</h2></td>
        <td><a href="/user/{{i.username}}">{{i.username}}</a></td>
        <td>{{i.timestamp[:10]}}</td>
    </tr>
    {% endfor %} 
</table>    

</body>
</html>