<!DOCTYPE html>
<html>
<head>
    <title>{{u.username}} | profile</title>
</head>

<body>

{% include 'top.html' %}


<p><a href="/user/">All Users</a></p>

<table>
    <tr>
        <td><b>Username:</b></td>
        <td>{{u.username}}</td>
    </tr>
    <tr>
        <td><b>Name:</b></td>
        <td>{{u.name}}</td>
    <tr>
    <tr>
        <td><b>No. of followers:</b></td>
        <td>{{u.followers}} [<a href='/user/{{u.username}}/followers'>view</a>]</td>
    </tr>
    <tr>
        <td><b>No. of following:</b></td>
        <td>{{u.following}} [<a href='/user/{{u.username}}/following'>view</a>]</td>
    </tr>
    <tr>
        <td><b>No. of posts:</b></td>
        <td>{{u.posts}}</td>
    </tr>
</table>

{% if user %}
    <form action="" method="Post">
    {% if following %}
    <form action="" method="Post">
        <input type="submit" name="unfollow" value="Unfollow">
    {% else %}
        <input type="submit" name="follow" value="Follow">
    {% endif %}
    </form>
{% endif %}


{% if ( (p | length) > 0) %}

<table>
    <tr>
        <th><h2>Title</h2></th>
        <th><h2>Date</h2></th>
    </tr>
    
    {% for i in p %}
    <tr>
        <td><h2><a href="/post/{{i.post_id}}">{{i.title}}</a></h2></td>
        <td>{{i.timestamp[:10]}}</td>
    </tr>
    {% endfor %}
{% endif %}       

</body>
</html>
