<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>


<body>

{% include 'top.html' %}

{% if duplicate %}
    <p>username already exists!</p>
{% endif %}

{% if missmatch %}
    <p>Passwords don't match!</p>
{% endif %}

<form name="form1" method="post" action="/register">

<H2>Registration Form</H2>

<table>
<tr>
    <td>Name</td>
    <td><input name="name" type="text" size="75"</td>
</tr>

<tr>
    <td>Username</td>
    <td><input name="username" type="text" size="50"</td>
</tr>

<tr>
    <td>Password</td>
    <td><input name="password" type="password" id="password" size="10"</td>
</tr>

<tr>
    <td>Confirm Password</td>
    <td><input name="cpassword" type="password" id="cpassword" size="10"</td>
</tr>

<tr>
    <td><input type="submit" name="Submit" value="submit"></td>
<tr>

</table>

</form>

</body>
</html>
