<!DOCTYPE html>
<html>
<head>
    <title>Account Settings</title>
</head>

<body>

{% include "top.html" %}

{% if wrong_password %}
    <p>Incorrect password!</p>
{% endif %}

{% if missmatch %}
    <p>New passwords don't match!</p>
{% endif %}

{% if user %}

<form name="form1" method="post" action="/settings/">

<H2>Update Details</H2>

<table>

<tr>
    <td>Username</td>
    <td><input name="username" type="text" value="{{user.username}}" readonly></td>
</tr>


<tr>
    <td>Re-enter Password</td>
    <td><input name="password" type="password" id="password"></td>
</tr>

<tr>
    <td>Name</td>
    <td><input name="name" value="{{user.name}}" type="text"></td>
</tr>

<tr>
    <td><input type="submit" name="Submit" value="Update Name"></td>
<tr>

<tr>
    <td>New Password</td>
    <td><input name="npassword" type="password" id="npassword"></td>
</tr>

<tr>
    <td>Confirm Password</td>
    <td><input name="cpassword" type="password" id="cpassword"></td>
</tr>

<tr>
    <td><input type="submit" name="Submit" value="Change Password"></td>
<tr>

<tr>
    <td></td>
    <td>
    <input type="submit" name="Submit" value="DELETE ACCOUNT">
    </td>
<tr>

</table>

</form>

{% else %}
    <p>Invalid credentials! Please <a href='/login'>login<a> or <a href='/register'>Register</a>.</p>

{% endif %}

</body>
</html>