
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/margins.css">

<p>
<a href='/'>Home</a>
<a href='/user/'>View Users</a>
<a href='/post/'> All posts</a>
{% if user %}
    <a href='/logout'>Logout ({{user.username}})</a>
{% else %}
    <a href='/login'>Login</a>
    <a href="/register">Register</a>
{% endif %}
</p>
