<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>All Users</title>
</head>


<body>

{% include 'top.html' %}



{% if viewing_followers_of %}
    <p><a href="/user/{{viewing_followers_of}}">Back</a></p>
    <h3>Viewing followers of
    {% if viewing_followers_of==user.username %}
        you
    {% else %}
        {{ viewing_followers_of }}
    {% endif %}
    </h3>
{% elif viewing_following_of %}
    <p><a href="/user/{{viewing_following_of}}">Back</a></p>
    <h3>Viewing users
    {% if viewing_following_of==user.username %}
        you follow.
    {% else %}
        {{ viewing_following_of }} follows.
    {% endif %}
    </h3>
{% else %}

    <form name="search" method="get" action="">
        <input name="q" type="text" placeholder="search" value="{{q}}">
        <input type="submit" name="search" value="search">
    </form>

    <h3>
    All users
    {% if q %}
        matching "{{ q }}"
    {% endif %}
    </h3>
{% endif %}

<table>
    <tr>
        <th><h2>Name&nbsp</h2></th>
        <th><h2>Username&nbsp</h2></th>
        {% if user %}
            <th><h2>Action</h2></th>
        {% endif %}

    </tr>



    {% for i in u %}
    <tr>
        <td><h2>{{i.name}}&nbsp</h2></td>
        <td><h2><a href="/user/{{i.username}}">{{i.username}}</a>&nbsp</h2></td>
        {% if user %}
            <td>
            <form name="(un)follow" method="post" action="">
            <input type="hidden" name="username" value={{i.username}}>
            {% if i.username in following %}
                <input type="submit" name="submit" value="unfollow">
            {% else %}
                <input type="submit" name="submit" value="follow">
            {% endif %}
            
            </form>
            </td>
        {% endif %}
    </tr>
    {% endfor %}     

</body>
</html>
